
  <div class="breadcrumb">
    <span class="badge-breadcrumb">&nbsp;you are here&nbsp;</span>
    <li class="breadcrumb-item">Home</li>
  </div>

  <!--<h2 class="site-title margin-top-20">Fruits Lookup</h2>//-->


  <div>

    <!-- Form: search fruit(s) //-->
    <form [formGroup]="formSearch" (ngSubmit)="onSubmit()" class="well">
      <div class="row">
        <div class="form-group col-md-9">
          <input type="text" formControlName="filter" class="form-control" id="filter" autocomplete="on"
             placeholder="search fruit (ex: 'apple')">
        </div>
        <div class="form-group col-md-3">
          <button class="btn btn-primary btn-create-user" type="submit">Search</button>
        </div>
      </div>
    </form>

    <br/><br/>

  </div>



  <div class="row">
    <div class="col-12 col-md-12 col-xl-12">

      <h5>Grocery List</h5>

      <div *ngIf="filteredFruits.length > 0" class="accordion">
        <div *ngFor="let grocery of filteredFruits; let i = index" class="accordion__item">
          <div style="display: flex" class="accordion-header ">
            <div class="grocery-id" style="flex: 2;"># {{i+1}}</div>
            <div style="flex: 5;">{{grocery.name}}</div>
            <div  class="btn-detail" (click)="onClickDetail(grocery)">view details</div>
          </div>
        </div><!-- end of accordion item -->
      </div><!-- end of accordion -->

      <div *ngIf="!filteredFruits || filteredFruits.length <= 0" class="accordion">
        <p class="notification">
          Oops, there weren't any grocery to match your search criteria.
          Perhaps you can try searching for a different fruit..
        </p>
      </div><!-- end of accordion -->

    </div>
  </div>
